@import "modules/variables";
@import "modules/breakpoints";
@import "modules/mixin";
@import "modules/fade-in";

// =============================
// common
// =============================
$base-line-height: 1.5;
html {
  font-size: 62.5%;
}
body {
  color: $fontblack;
  font-family: "Roboto", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic",
    "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
a {
  cursor: pointer;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
button {
  cursor: pointer;
}
.wrapper {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4%;
}
.md-button-wrapper {
  margin-top: 40px;
}
.md-button {
  display: block;
  max-width: 100%;
  &:not(:first-of-type) {
    margin-top: 16px;

    @include mq(md) {
      margin-top: 24px;
    }
  }
}
.md-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  max-width: 100%;
  height: 48px;
  background-color: $darkgray;
  color: $white;
  font-weight: bold;
  font-size: 1.6rem;
  @include mq(md) {
    width: 320px;
    max-width: none;
  }

  @include mq(lg) {
    height: 64px;
  }
}
.link-arrow {
  position: relative;
  padding-right: 12px;

  @include mq(md) {
    padding-right: 16px;
  }

  backface-visibility: hidden;
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    border-right: solid 2px $white;
    border-bottom: solid 2px $white;
    content: "";
    transition: border-color 0.3s, transform 0.3s;
    @include rc() {
      transition: border-color 0.3s, transform 0.3s !important;
    }

    @include mq(md) {
      width: 10px;
      height: 10px;
    }
  }
}
.button-hover {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: $mainred;
    content: "";
    transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98);
    transform-origin: right;
    @include rc() {
      transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98) !important;
    }
  }
  &:hover {
    &::before {
      transform: scaleX(1);

      transform-origin: left;
    }
    & .link-arrow {
      &::after {
        transform: translate(5px, -50%) rotate(-45deg);
        border-color: $white;
      }
    }
  }
}
.section-tag {
  position: relative;
  width: 80px;
  height: 20px;
  color: $white;
  font-weight: bold;
  font-size: 1rem;
  @include mq(md) {
    width: 100px;
    font-size: 1.2rem;
  }

  @include mq(lg) {
    width: 120px;
    height: 24px;
    font-size: 1.4rem;
  }
  & > span {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $mainred;
  }
  &::before {
    position: absolute;
    bottom: -4px;
    left: -4px;
    z-index: -1;
    width: 100%;
    height: 20px;
    border: solid 1px $mainred;
    content: "";
    @include mq(lg) {
      height: 24px;
    }
  }
}
.section-title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 3.6rem;
  @include lhCrop;

  @include mq(md) {
    margin-top: 20px;
  }

  @include mq(lg) {
    margin-top: 24px;
    font-size: 4.8rem;
  }
}
.section-sub-title {
  margin-top: 32px;
  font-weight: bold;
  font-size: 2.4rem;
  @include lhCrop;
  @include mq(xs) {
    font-size: 1.6rem;
  }

  @include mq(xl) {
    margin-top: 40px;
    font-size: 2.4rem;
  }
}
.section-text {
  margin-top: 16px;
  font-size: 1.4rem;

  @include mq(xl) {
    margin-top: 24px;
    font-size: 1.6rem;
  }
}
.cover-slide {
  opacity: 0;
  position: relative;
  &--active {
    opacity: 1;
    & > * {
      animation-name: kf-content-slide;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: $mainred;
      content: "";
      animation-name: kf-cover-slide;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

.page-top {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 50;
  transform: translateY(20%);
  width: 40px;
  height: 40px;
  border: solid 1px $white;
  background-color: $white;
  background-color: $darkgray;
  transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98), opacity 0.5s,
    visibility 0.5s;
  @include rc() {
    transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98),
      opacity 0.5s, visibility 0.5s !important;
  }
  @include mq(md) {
    width: 60px;
    height: 60px;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
  &__arrow {
    display: block;
    position: relative;
    z-index: 10;
    transform: translateY(4px) rotate(-45deg);
    width: 12px;
    height: 12px;
    border-top: solid 2px $white;
    border-right: solid 2px $white;
    @include mq(md) {
      width: 16px;
      height: 16px;
    }
  }
  &:hover {
    &::after {
      transform: scaleX(1);

      transform-origin: left;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: $mainred;
    content: "";
    transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98);
    transform-origin: right;
    @include rc() {
      transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98) !important;
    }
  }
}
// =============================
// header
// =============================
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: $white;

  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    @include mq(lg) {
      height: 80px;
    }
  }
  &__nav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 63px;
    left: 0;
    z-index: -1;
    transform: translateY(-24px);
    width: 100%;
    padding: 0 4% 56px;
    background-color: $white;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s,
      visibility 0.3s;
    @include rc() {
      transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity 0.3s, visibility 0.3s !important;
    }
    @include mq(md) {
      visibility: visible;
      opacity: 1;
      position: static;
      z-index: auto;
      transform: none;
      width: auto;
      padding: 0;
      background-color: transparent;
    }
    &--open {
      visibility: visible;
      opacity: 1;
      transform: none;
    }
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    @include mq(md) {
      flex-direction: row;
      font-size: 1.4rem;
    }

    @include mq(lg) {
      font-size: 1.6rem;
    }
  }
  &__nav-item {
    width: 100%;
    border-bottom: solid 1px $lightgray;

    @include mq(md) {
      width: auto;
      border: none;
    }
    &:first-of-type {
      border-top: solid 1px $lightgray;
    }
    &.arrow {
      position: relative;
      &::after {
        position: absolute;
        top: 28px;
        right: 1px;
        transform: rotate(45deg);
        width: 6px;
        height: 6px;
        border-right: solid 2px $fontblack;
        border-bottom: solid 2px $fontblack;
        content: none;
        transition: border-color 0.3s;
        @include rc() {
          transition: border-color 0.3s !important;
        }
        @include mq(lg) {
          top: 35px;
          right: 5px;
          width: 7px;
          height: 7px;
        }
      }
      &:hover {
        & .header__nav-service {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  &__nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 0 9px;
    @include mq(md) {
      justify-content: center;
      width: auto;
    }

    @include mq(lg) {
      height: 80px;
      padding: 0 16px;
    }
    &.current {
      color: $mainred;
      text-decoration: underline;

      pointer-events: none;
      text-underline-offset: 3px;
    }
    &.arrow {
      display: flex;
      align-items: center;
      &::after {
        display: inline-block;
        transform: translateY(-2px) rotate(45deg);
        width: 6px;
        height: 6px;
        margin-left: 4px;
        border-right: solid 2px $fontblack;
        border-bottom: solid 2px $fontblack;
        content: none;
        transition: border-color 0.3s;
        @include rc() {
          transition: border-color 0.3s !important;
        }
        @include mq(md) {
          content: "";
        }

        @include mq(lg) {
          top: 35px;
          right: 5px;
          width: 7px;
          height: 7px;
        }
      }
    }
  }
  &__nav-service {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: $white;
    transition: opacity 0.3s, visibility 0.3s;
    @include rc() {
      transition: opacity 0.3s, visibility 0.3s !important;
    }
    @include mq(md) {
      display: block;
    }
  }
  &__nav-service-wrapper {
    display: flex;
    margin: 0 auto;
  }
  &__nav-service-link {
    flex-basis: 50%;
    position: relative;
    padding: 16px 0;
    text-align: center;
    transition: color 0.3s;
    @include rc() {
      transition: color 0.3s !important;
    }
    &:hover {
      color: $mainred;
    }
    &:first-of-type {
      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 80%;
        background-color: $lightgray;
        content: "";
      }
    }
  }
  &__nav-hover {
    position: relative;
    &::before {
      position: absolute;
      bottom: 0;
      transform: scaleX(0);
      width: 100%;
      height: 3px;
      background-color: $mainred;
      content: none;
      transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98);
      @include rc() {
        transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98) !important;
      }
      @include mq(md) {
        content: "";
      }

      transform-origin: right;
    }
    &:hover {
      &::before {
        transform: scaleX(1);

        transform-origin: left;
      }
    }
  }
  &__contact {
    justify-content: center;
    position: relative;
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border: solid 1px $mainred;
    background-color: $mainred;
    color: $white;
    transition: background-color 0.3s, color 0.3s;
    @include rc() {
      transition: background-color 0.3s, color 0.3s !important;
    }
    @include mq(md) {
      width: 120px;
      margin-top: 0;
      margin-left: 9px;
    }

    @include mq(lg) {
      width: 160px;
      height: 60px;
      margin-left: 16px;
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      background-color: $white;
      content: "";
      transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98);
      transform-origin: right;
      @include rc() {
        transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.35, 0.98) !important;
      }
    }
    &:hover {
      color: $mainred;
      &::before {
        transform: scaleX(1);

        transform-origin: left;
      }
    }
  }
  &__contact-text {
    position: relative;
    z-index: 10;
  }
  &__hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    @include mq(md) {
      display: none;
    }
  }
  &__hamburger-line {
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    background-color: $fontblack;
    transition: transform 0.3s ease, opacity 0.3s,
      background-color 0.3s;
    @include rc() {
      transition: transform 0.3s ease,
        opacity 0.3s, background-color 0.3s !important;
    }
    &::before,
    &::after {
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $fontblack;
      content: "";
      transition: transform 0.3s ease,
        opacity 0.3s, background-color 0.3s;
      @include rc() {
        transition: transform 0.3s ease,
          opacity 0.3s, background-color 0.3s !important;
      }
    }
    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
    &--active {
      background-color: transparent;
      &::before {
        transform: translateY(8px) rotate(35deg);
      }
      &::after {
        transform: translateY(-8px) rotate(-35deg);
      }
    }
  }
  &__mask {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 64px;
    right: 0;
    left: 0;
    z-index: -10;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, visibility 0.3s;
    @include rc() {
      transition: opacity 0.3s, visibility 0.3s !important;
    }
    &--open {
      visibility: visible;
      opacity: 1;
    }
  }
}
.logo {
  &__img-wrapper {
    width: 120px;
    height: auto;

    @include mq(lg) {
      width: 160px;
    }
  }
}
// =============================
// fv
// =============================
.fv {
  position: relative;
  height: 800px;
  min-height: 560px;
  max-height: 60vh;

  @include mq(md) {
    max-height: 70vh;
  }

  @include mq(lg) {
    min-height: 560px;
  }
}
.mainvisual {
  width: 100%;
  height: 100%;
  &__img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    &.animation {
      opacity: 0.3;

      will-change: transform;
      &--active {
        animation-name: kf-mainvisual;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
      }
    }
  }
}
.maincopy {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 8%;
  color: $white;
  text-align: right;

  @include mq(md) {
    bottom: 64px;
  }

  @include mq(xxl) {
    padding: 0 20px;
  }
  &__inner {
    display: inline-block;
  }
  &__title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1;
    @include mq(lg) {
      font-size: 3.6rem;
    }

    filter: drop-shadow($drop-shadow);
    & .sm-block {
      display: block;
      padding-bottom: 8px;
      text-align: left;

      @include mq(md) {
        display: inline-block;
        margin-bottom: 0;
      }
    }
    & .translate-y {
      display: inline-block;
      transform: translateY(5px);
    }
    & .underline-red {
      position: relative;
      margin-right: 4px;
      font-size: 5.4rem;
      @include mq(xs) {
        font-size: 5rem;
      }

      @include mq(lg) {
        margin-right: 8px;
        font-size: 8.1rem;
      }
      &.letter-spacing {
        margin-right: 16px;
        letter-spacing: -0.1em;
        @include mq(xs) {
          margin-right: 8px;
        }
        &::before {
          transform: translateX(6px);
        }
      }
      &::before {
        position: absolute;
        bottom: 0;
        left: 1%;
        z-index: -1;
        height: 16px;
        background-color: $mainred;
        content: "";
        @include mq(lg) {
          height: 24px;
        }
      }
      &.animation {
        display: inline-block;
        &--active {
          animation-name: kf-title-up;
          animation-duration: 1s;
          animation-timing-function: ease;
          &::before {
            animation-name: kf-border-slide;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
  &__sub-title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: left;
    $drop-shadow: 0 2px 2px rgba(0, 0, 0, 1);
    @include mq(xs) {
      font-size: 1.2rem;
    }
    @include mq(md) {
      filter: drop-shadow($drop-shadow);
    }    
    @include mq(lg) {
      font-size: 1.6rem;
    }

  }
  & .md-button-wrapper {
    width: 100%;
    max-width: 320px;

    @include mq(md) {
      max-width: none;
    }
  }
  & .md-button {
    width: 100%;

    @include mq(md) {
      width: auto;
    }

    @include mq(xxl) {
      width: 400px;
    }
  }
  & .md-button-link {
    width: 100%;
    font-size: 1.4rem;
    @include mq(xs) {
      font-size: 1.2rem;
    }

    @include mq(md) {
      width: 320px;
    }

    @include mq(xxl) {
      width: 400px;
      font-size: 1.6rem;
    }
  }
  & .md-button {
    filter: drop-shadow($drop-shadow);
  }
}
// =============================
// feature
// =============================
.feature {
  position: relative;
  padding-top: 160px;
  overflow: hidden;
  @include mq(md) {
    padding-top: 80px;
  }

  @include mq(xxl) {
    padding-top: 160px;
  }
  &__content {
    max-width: 420px;

    @include mq(md) {
      max-width: 55%;
      margin-right: 100px;
    }

    @include mq(lg) {
      max-width: 43%;
    }

    @include mq(xxl) {
      max-width: 550px;
    }
  }
  &__img-wrapper {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: -1;
    width: 55%;
    @include mq(md) {
      width: 42%;
    }

    @include mq(lg) {
      width: 50%;
      height: calc(100% - 72px);
    }

    @include mq(xxl) {
      top: 80px;
      height: calc(100% - 112px);
    }
    &::before {
      position: absolute;
      top: 8px;
      left: -8px;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: solid 2px $mainred;
      content: "";
    }
    &::after {
      display: block;
      padding-top: 56.25%;
      content: "";
      @include mq(md) {
        padding-top: 75%;
      }

      @include mq(lg) {
        content: none;
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mq(lg) {
      height: 100%;
    }

    object-fit: cover;
    filter: drop-shadow(-4px 4px 8px rgba(0, 0, 0, 0.3));
  }
  & .md-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 48px;

    @include mq(lg) {
      justify-content: flex-start;
      margin-top: 32px;
    }
  }
}
// =============================
// service
// =============================
.service {
  margin-top: 80px;
  overflow: hidden;

  @include mq(xxl) {
    margin-top: 120px;
  }
  &__bg {
    position: relative;
    margin-right: 3%;
    background-color: $lightgray;
    @include mq(xxl) {
      margin-right: calc((100vw - 1440px) / 2);
      padding-left: calc((100vw - 1440px) / 2);
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 64px;
      background-color: $white;
      content: "";
      @include mq(lg) {
        height: 80px;
      }
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-color: $white;
      content: "";
      @include mq(lg) {
        height: 32px;
      }
    }
  }
  &__inner {
    position: relative;
    z-index: 10;
  }
  &__content {
    padding-left: 3%;

    @include mq(xxl) {
      padding-left: 0;
    }
  }
  &__title {
    margin-top: 48px;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;

    @include mq(xs) {
      font-size: 2rem;
    }

    @include lhCrop;
    @include mq(md) {
      margin-top: 64px;
    }

    @include mq(lg) {
      font-size: 3.6rem;
    }
  }
  & .title-underline {
    display: block;
    position: relative;
    &::before {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 2px;
      background-color: $mainred;
      content: "";
      @include mq(lg) {
        bottom: -16px;
        height: 4px;
      }
    }
  }
  & .system,
  & .training {
    position: relative;
    &::after {
      opacity: 0.7;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      transform: translateY(-50%);
      color: $white;
      font-weight: bold;
      font-size: 7rem;
      @include mq(xs) {
        font-size: 5.4rem;
      }

      @include mq(md) {
        font-size: 12rem;
      }

      @include mq(lg) {
        font-size: 18.5rem;
      }
    }
  }
  & .system {
    &::after {
      content: "SYSTEM";
    }
  }
  & .training {
    &::after {
      content: "TRAINING";
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
    margin: 32px auto 0;
    @include mq(md) {
      flex-direction: row;
    }

    @include mq(lg) {
      margin: 48px auto 0;
    }
    &.bft-dojo {
      flex-direction: column;
      flex-wrap: wrap;

      @include mq(lg) {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
  }
  &__item {
    display: flex;
    position: relative;
    width: 100%;
    color: $white;
    @include mq(md) {
      max-width: 48%;
    }
    &:not(:first-of-type) {
      margin-top: 24px;

      @include mq(md) {
        margin: 0;
      }
    }
    &.bft-dojo {
      flex-basis: 100%;
      max-width: none;

      @include mq(lg) {
        flex-basis: 31.2%;
      }
      &:not(:first-of-type) {
        margin-top: 24px;

        @include mq(lg) {
          margin: 0;
        }
      }
    }
    &::before {
      opacity: 0.4;
      position: absolute;
      bottom: -8px;
      left: -8px;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $mainred;
      content: "";
    }
  }
  &__link {
    display: block;
    width: 100%;
    padding: 32px 24px;
    background-color: rgba(48, 47, 59, 0.8);
    &.bft-dojo {
      & .service__item-title {
        height: 25px;

        @include mq(md) {
          height: auto;
        }
      }
    }
  }
  &__item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    @include mq(md) {
      font-size: 2.4rem;
    }

    @include mq(lg) {
      justify-content: flex-start;
    }
    &.icon_01,
    &.icon_02 {
      @include mq(lg) {
        padding-left: 32px;
      }
      &::before {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        background-size: cover;
        content: "";
        @include mq(md) {
          width: 24px;
          height: 24px;
          margin-right: 16px;
        }

        @include mq(lg) {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          margin-right: 0;
        }
      }
    }
    &.icon_01 {
      &::before {
        background-image: url(../img/icon_01.png);
      }
    }
    &.icon_02 {
      &::before {
        background-image: url(../img/icon_02.png);
      }
    }
    &::after {
      display: inline-block;
      transform: rotate(-45deg);
      width: 8px;
      height: 8px;
      margin-left: 8px;
      border-right: solid 2px $white;
      border-bottom: solid 2px $white;
      content: "";
      transition: border-color 0.3s;
      @include rc() {
        transition: border-color 0.3s !important;
      }
      @include mq(md) {
        width: 12px;
        height: 12px;
        margin-left: 16px;
        border-right: solid 4px $white;
        border-bottom: solid 4px $white;
      }
    }
  }
  &__title-img {
    height: 100%;
    @include mq(md) {
      width: auto;
    }

    object-fit: cover;
  }
  &__sub-title {
    margin: 24px 0 0 0;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    text-align: center;
    @include mq(md) {
      margin: 32px 0 0 0;
      font-size: 2.4rem;
    }

    @include mq(lg) {
      margin: 40px 0 0 0;
      text-align: left;
    }

    text-underline-offset: 4px;
  }
  &__item-text {
    flex-basis: 100%;
    margin-top: 16px;
    font-size: 1.4rem;

    @include lhCrop;
    @include mq(xs) {
      font-size: 1.2rem;
    }

    @include mq(md) {
      margin-top: 24px;
      font-size: 1.6rem;
    }
  }
  & .md-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    padding-left: 4%;

    @include mq(md) {
      margin-top: 96px;
    }

    @include mq(xxl) {
      padding-left: 0;
    }
  }
}
// =============================
// case
// =============================
.case {
  margin-top: 80px;

  @include mq(xxl) {
    margin-top: 120px;
  }
  &__bg {
    position: relative;
    margin-left: 3%;
    background-color: $lightgray;
    @include mq(xxl) {
      margin-left: calc((100vw - 1440px) / 2);
      padding-right: calc((100vw - 1440px) / 2);
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 64px;
      background-color: $white;
      content: "";
      @include mq(lg) {
        height: 80px;
      }
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-color: $white;
      content: "";
      @include mq(lg) {
        height: 32px;
      }
    }
  }
  & .wrapper {
    padding-left: 1%;

    @include mq(xxl) {
      padding-left: 4%;
    }
  }
  &__inner {
    position: relative;
    z-index: 10;
  }

  &__title-wrapper {
    max-width: 1240px;
    margin: 40px auto 0;
    padding: 0 20px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;

    @include mq(xs) {
      font-size: 1.6rem;
    }

    @include mq(md) {
      margin: 56px auto 0;
      font-size: 2.4rem;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    position: relative;
    transition: opacity 0.3s;
    @include rc() {
      transition: opacity 0.3s !important;
    }
    &::before {
      display: inline-block;
      transform: rotate(-45deg);
      width: 12px;
      height: 12px;
      margin-right: 8px;
      border-right: solid 4px $mainred;
      border-bottom: solid 4px $mainred;
      content: "";
      transition: border-color 0.3s;
      @include rc() {
        transition: border-color 0.3s !important;
      }

      @include mq(xl) {
        width: 12px;
        height: 12px;
      }
    }
  }
  &__list-wrapper {
    position: relative;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1240px;
    margin: 24px auto 0;
    padding: 0 20px;
    @include mq(md) {
      flex-direction: row;
      margin: 32px auto 0;
    }
  }
  &__item {
    flex-basis: 30%;
    margin: 0 4%;
    overflow: hidden;
    border-radius: 4px;
    background-color: $white;
    @include mq(md) {
      margin: 0;
      &:not(:first-of-type) {
        margin: 0;
      }
    }
    &:not(:first-of-type) {
      margin-top: 24px;
    }
  }
  &__item-link {
    &:hover {
      & .case__item-img {
        transform: scale(1.1);
      }
    }
  }
  &__item-img-wrapper {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      padding-top: 56.25%;
      content: "";
    }
  }
  &__item-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    object-fit: cover;
    @include rc() {
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    }
  }
  &__item-text-wrapper {
    padding: 16px;
  }
  &__item-title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  &__item-arrow {
    position: relative;
    &::after {
      display: inline-block;
      transform: translateY(-25%) rotate(-45deg);

      width: 8px;
      height: 8px;
      margin-left: 8px;
      border-right: solid 2px $fontblack;
      border-bottom: solid 2px $fontblack;
      content: "";
    }
  }
  & .md-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @include mq(md) {
      justify-content: flex-end;
      margin-top: 48px;
    }
  }
}
// =============================
// company
// =============================
.company {
  position: relative;
  max-width: 1440px;
  margin: 80px auto 0;
  overflow: hidden;
  background-color: $lightgray;
  @include mq(xxl) {
    margin-top: 120px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 101%;
    height: 64px;
    background-color: $white;
    content: "";
    @include mq(lg) {
      height: 80px;
    }
  }
  &::after {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 101%;
    height: 32px;
    background-color: $white;
    content: "";
    @include mq(lg) {
      height: 48px;
    }
  }
  &__inner {
    position: relative;
    z-index: 10;
  }
  & .section-sub-title {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  }
  & .section-text {
    max-width: 550px;
    font-weight: 500;
    font-size: 1.6rem;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  }
  &__img-wrapper {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 47%;
    @include mq(md) {
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      height: 95%;
    }
    &::after {
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      content: "";
    }
  }
  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;

    @include mq(md) {
      flex-direction: row;
    }
  }
  &__content-item {
    flex-basis: 100%;
    max-width: 100%;
    padding: 16px 4% 0;
    @include mq(md) {
      flex-basis: 50%;
      max-width: 50%;
      padding: 32px 4% 0;
    }

    @include mq(lg) {
      &:nth-child(2) {
        padding: 32px 0 0 8%;
      }
    }

    @include mq(xxl) {
      &:nth-child(2) {
        padding-left: 100px;
      }
    }
    &:first-child {
      padding-bottom: 32px;

      @include mq(md) {
        padding-bottom: 0;
      }
    }
    &:nth-child(2) {
      padding: 48px 0 0 4%;
      padding: 32px 0 0 4%;
    }
  }
  &__list {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: -4%;
      width: 100vw;
      height: 32px;
      background-color: $lightgray;
      content: "";

      @include mq(md) {
        content: none;
      }
    }
  }
  &__item {
    margin-right: 4%;

    border-bottom: solid 1px $fontblack;
    &:first-child {
      border-top: solid 1px $fontblack;
    }
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 24px 0;
    font-weight: bold;
    font-size: 1.6rem;
    transition: opacity 0.3s;
    @include rc() {
      transition: opacity 0.3s !important;
    }
    &::after {
      display: inline-block;
      transform: rotate(-45deg);
      width: 12px;
      height: 12px;
      margin: 0 32px;
      border-right: solid 4px $fontblack;
      border-bottom: solid 4px $fontblack;
      content: "";
      transition: border-color 0.3s;
      @include rc() {
        transition: border-color 0.3s !important;
      }
    }
    &:hover {
      opacity: 0.7;
      &::after {
        border-color: $mainred;
      }
    }
  }
  & .md-button {
    &.company__contact {
      display: block;
      margin: 0 auto;
      background-color: $darkgray;
      @include mq(md) {
        margin: 24px auto 0;
      }
      & .md-button-link {
        width: 320px;
        height: 64px;
        font-size: 1.6rem;

        @include mq(md) {
          width: 400px;
          font-size: 2rem;
        }

        @include mq(lg) {
          width: 480px;
          height: 80px;
        }
      }
      & .link-arrow {
        &::after {
          width: 8px;
          height: 8px;
          border-right: solid 2px $white;
          border-bottom: solid 2px $white;
          @include mq(md) {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
  & .section-text {
    @include mq(xs) {
      font-size: 1.2rem;
    }
  }
  & .md-button-wrapper {
    display: flex;
    justify-content: center;

    @include mq(md) {
      justify-content: flex-start;
    }
  }
}
// =============================
// recruit
// =============================
.recruit {
  margin-top: 80px;

  @include mq(xxl) {
    margin-top: 120px;
  }
  &__inner {
    display: flex;
    flex-direction: column-reverse;

    @include mq(md) {
      flex-direction: row;
    }
  }
  &__img-container {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    margin-top: 64px;
    @include mq(md) {
      margin-top: 48px;
    }

    @include mq(lg) {
      margin-top: 32px;
    }
  }
  &__img-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include mq(md) {
      max-width: 320px;
    }

    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.2));
    &::after {
      display: block;
      padding-top: 200%;
      content: "";
    }
  }
  &__img-border {
    position: relative;
    width: 100%;
    max-width: 240px;

    @include mq(md) {
      max-width: none;
    }
    &:first-of-type {
      transform: translateY(16px);
      margin-right: 24px;
      @include mq(md) {
        transform: translateY(24px);
      }

      @include mq(lg) {
        transform: none;
      }
    }
    &:last-of-type {
      transform: translateY(-32px);

      @include mq(lg) {
        transform: translateY(-64px);
      }
    }
    &::after {
      position: absolute;
      top: 8px;
      left: -8px;
      z-index: -1;
      width: 100%;
      padding-top: calc(200% - 4px);
      border: solid 2px $mainred;
      content: "";
    }
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 120%;

    object-fit: cover;
    &-01 {
      object-position: 20% -40px;
    }
    &-02 {
      object-position: 55% -40px;
    }
  }
  &__content {
    padding: 0 4%;

    @include mq(md) {
      flex-basis: 50%;
      padding-left: 40px;
    }

    @include mq(xxl) {
      padding-left: 100px;
    }
  }
  &__content-title {
    margin-top: 24px;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;

    @include mq(xs) {
      font-size: 2.4rem;
    }

    @include mq(md) {
      margin-top: 0;
      text-align: left;
    }

    @include mq(lg) {
      font-size: 3.6rem;
    }
    & .border-red {
      position: relative;
      letter-spacing: 0;
      &:not(:last-child) {
        margin-right: 0.2em;

        @include mq(lg) {
          margin-right: 0.15em;
        }
      }
      &:not(:first-of-type) {
        margin-left: 0.2em;

        @include mq(lg) {
          margin-left: 0.15em;
        }
      }
      &::after {
        position: absolute;
        bottom: 2px;
        left: 0;
        z-index: -1;
        height: 6px;
        background-color: $mainred;
        content: "";
        @include mq(xl) {
          bottom: 4px;
          height: 8px;
        }
      }
      &.animation {
        &--active {
          &::after {
            animation-name: kf-border-slide;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
          }
        }
      }
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          &::after {
            animation-delay: $i * 0.2s;
          }
        }
      }
    }
  }
  &__content-text {
    max-width: 550px;
    margin-top: 16px;
    font-size: 1.6rem;
    @include lhCrop;
    @include mq(md) {
      margin-top: 24px;
    }
  }
  & .md-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    @include mq(md) {
      display: block;
      margin-top: 48px;
    }

    @include mq(lg) {
      margin-top: 64px;
    }
  }
}
// =============================
// news
// =============================
.news {
  margin-top: 120px;
  &__list {
    margin-top: 32px;

    @include mq(md) {
      margin-top: 48px;
    }
  }
  &__item {
    border-bottom: solid 1px #707070;
    &:first-of-type {
      border-top: solid 1px #707070;
    }
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 0;
    font-size: 1.6rem;
    transition: opacity 0.3s;
    @include rc() {
      transition: opacity 0.3s !important;
    }
    @include mq(xs) {
      font-size: 1.4rem;
    }

    @include mq(md) {
      flex-wrap: nowrap;
      padding: 32px 0;
    }
  }
  &__date {
    flex-basis: 10%;
    min-width: 100px;
  }
  &__tag {
    flex-basis: 15%;
    min-width: 120px;
    font-size: 1.4rem;
    @include mq(lg) {
      font-size: 1.6rem;
    }
  }
  &__text {
    flex-basis: 100%;
    position: relative;
    margin-top: 8px;

    @include mq(md) {
      flex-grow: 1;
      margin-top: 0;
      padding-right: 60px;
      overflow: hidden;
      white-space: nowrap;

      text-overflow: ellipsis;
    }
    &::after {
      display: inline-block;
      transform: translateY(-1px) rotate(-45deg);
      width: 8px;
      height: 8px;
      margin-left: 8px;
      border-right: solid 2px $fontblack;
      border-bottom: solid 2px $fontblack;
      content: "";
      transition: border-color 0.3s;
      @include rc() {
        transition: border-color 0.3s !important;
      }
      @include mq(md) {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(-45deg);
        width: 12px;
        height: 12px;
        margin: 0 32px;
        border-right: solid 4px $fontblack;
        border-bottom: solid 4px $fontblack;
      }
    }
    &:hover {
      opacity: 0.7;
      &::after {
        border-color: $mainred;
      }
    }
  }
  & .md-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 64px;

    @include mq(md) {
      justify-content: flex-end;
    }
  }
}
// =============================
// media
// =============================
.media {
  margin-top: 80px;

  @include mq(xxl) {
    margin-top: 120px;
  }
  & .section-text {
    max-width: 550px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto 0;
    @include mq(lg) {
      margin: 64px auto 0;
    }
  }
  &__list {
    width: 100%;
    margin: 0 4%;
    font-size: 2.4rem;
    @include mq(md) {
      display: flex;
      justify-content: space-between;
      margin: 0;
      font-size: 3.6rem;
    }

    @include mq(lg) {
      display: none;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
    @include rc() {
      transition: opacity 0.3s !important;
    }
    @include mq(md) {
      display: block;
    }
    & .fa-brands {
      flex-basis: 40px;
      text-align: center;

      @include mq(md) {
        width: 48px;
      }
    }
    &:not(:first-of-type) {
      margin-top: 16px;

      @include mq(md) {
        margin-top: 0;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__item {
    display: none;

    @include mq(lg) {
      display: block;
      flex-basis: 30%;
      max-width: 320px;
      max-height: 480px;
      overflow: hidden;
      & .facebook_wrap {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
      }

      & .fb-page,
      & .fb-page span,
      & .facebook_wrap iframe {
        width: 100% !important;
        height: 500px !important;
      }
      & .twitter_wrap {
        width: 80%;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
      }
      & .twitter_wrap iframe {
        width: 100% !important;
      }
      & .instagram-media {
        min-width: 100% !important;
        margin: 0 -1px !important;
        border-right: none !important;
        border-left: none !important;
      }
    }
  }
}
// =============================
// contact
// =============================
.contact {
  position: relative;
  margin-top: 80px;
  overflow: hidden;
  background-color: $lightgray;
  @include mq(md) {
    padding-bottom: 64px;
  }

  @include mq(xxl) {
    margin-top: 120px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 64px;
    background-color: $white;
    content: "";
    @include mq(lg) {
      height: 80px;
    }
  }
  &__img-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 47%;
    @include mq(md) {
      top: 51%;
      left: 50%;
      transform: translateY(-50%);
      width: 50%;
      height: 100%;
    }
    &::after {
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      content: "";
    }
  }
  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  &__inner {
    position: relative;
    z-index: 10;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 32px auto 0;
    @include mq(md) {
      flex-direction: row;
    }
  }
  &__text-wrapper {
    position: relative;
    padding: 0 4% 32px;
    &::after {
      position: absolute;
      bottom: 0;
      left: calc(-4% - 2px);
      width: 100vw;
      height: 32px;
      background-color: $lightgray;
      content: "";
    }
    @include mq(md) {
      flex-basis: 50%;
      max-width: 50%;
      min-height: auto;
      padding: 0 4%;
      &::after {
        content: none;
      }
    }
    @include mq(xxl) {
      padding: 0;
    }
  }
  &__text {
    font-size: 1.6rem;

    @include lhCrop;
  }
  &__phone-wrapper {
    padding: 32px 4%;
    color: $white;
    text-align: center;

    @include mq(md) {
      flex-basis: 50%;
      max-width: 50%;
      padding: 0 0 0 8%;
      text-align: left;
    }

    @include mq(xxl) {
      padding: 0 0 0 100px;
    }
  }
  &__phone-text {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1;
  }
  &__phone-time {
    display: inline-block;
    font-weight: normal;
    font-size: 1.4rem;
  }
  &__office {
    margin-top: 16px;
    &:first-of-type {
      margin-top: 32px;
    }
  }
  &__office-name {
    font-weight: bold;
    font-size: 1.6rem;
  }
  &__office-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.4rem;
    @include mq(md) {
      justify-content: flex-start;
      margin-left: 4%;
      font-size: 3.6rem;
    }
    &::before {
      display: inline-block;
      width: 12px;
      height: 18px;
      margin-right: 8px;
      background-image: url(../img/phone.png);
      background-size: cover;
      content: "";
      @include mq(md) {
        width: 16px;
        height: 24px;
      }
    }
  }
  & .md-button {
    width: 100%;

    @include mq(md) {
      width: 320px;
    }
  }
  & .md-button-link {
    width: 100%;
  }
}
// =============================
// footer
// =============================
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $darkgray;
  @include mq(md) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(md) {
      flex-direction: row;
    }
  }
  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 24px;
    @include mq(md) {
      flex-wrap: nowrap;
      margin-top: 0;
    }
  }
  &__nav-item {
    flex-basis: 30%;

    @include mq(md) {
      flex-basis: auto;
    }
  }
  &__nav-link {
    display: inline-block;
    position: relative;
    padding: 8px 0;
    color: $white;
    font-weight: bold;
    font-size: 1.4rem;
    @include mq(md) {
      padding: 0 16px;
    }

    @include mq(lg) {
      padding: 0 24px;
      font-size: 1.6rem;
    }
    &::before {
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      width: 60%;
      height: 2px;
      background-color: $white;
      content: none;
      transition: transform 0.3s;
      @include rc() {
        transition: transform 0.3s !important;
      }
      @include mq(md) {
        content: "";
      }

      transform-origin: right;
    }
    &:hover {
      &::before {
        transform: translateX(-50%) scaleX(1);

        transform-origin: left;
      }
    }
  }
}
.copyright {
  padding: 8px 0;
  font-size: 1.2rem;
  text-align: center;
  @include mq(md) {
    font-size: 1.4rem;
  }
}
