@mixin lhCrop($line-height: $base-line-height, $capital-letter: 1) {
  overflow: hidden; //相殺した余白をカット
  &::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((#{$capital-letter} - #{$line-height}) * 0.5em);
  }
  &::after {
    //最終行も取り除く
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((#{$capital-letter} - #{$line-height}) * 0.5em);
  }
}

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin rc() {
  @media print, (prefers-reduced-motion: reduce) {
    @content
  }
}
